body {
  min-height: 100vh;
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  #shape {
    position: relative;
    width: calc(10vw + 10vh);
    height: calc(10vw + 10vh);
    animation: rotate 20s linear infinite;
    transform-style: preserve-3d;
    div {
      background-color: aqua;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px solid white;
      box-shadow: 0 0 20px 0px lightgreen;
      border-radius: 3px;
      &.front {
        transform: translateZ(calc(-5vw - 5vh));
      }
      &.back {
        transform: translateZ(calc(5vw + 5vh));
      }
      &.right {
        transform: translateX(calc(5vw + 5vh)) rotateY(90deg);
      }
      &.left {
        transform: translateX(calc(-5vw - 5vh)) rotateY(90deg);
      }
      &.top {
        transform: translateY(calc(5vw + 5vh)) rotateX(90deg);
      }
      &.bottom {
        transform: translateY(calc(-5vw - 5vh)) rotateX(90deg);
      }
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
